@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;    
}

body {
    background-image: linear-gradient(to right, #E6C255, #D9674E);
}

main {
    background-color: white;  
    border-radius: 10px;
    box-shadow: 5px 5px 15px #57899c8f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D93662;
    text-align: center;
    text-shadow: 1px 1px 2px #57899c8f;
}

h2 {
    color: #49A68B;
}

p {
    text-align: justify;
}